{% load static %}

<!DOCTYPE html>
<html>
<script src="{% static 'wbdmap/js/nprogress.js' %}"></script>

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1,user-scalable=no">
<title>Tt HUC12 Navigator</title>

<link rel="stylesheet" href="https://js.arcgis.com/3.28/dijit/themes/tundra/tundra.css">
<link rel="stylesheet" href="https://js.arcgis.com/3.28/esri/css/esri.css">

<link rel="stylesheet" href="{% static 'wbdmap/css/bootstrap.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'wbdmap/css/app.css' %}" type="text/css"/>
<link rel='stylesheet' href="{% static 'wbdmap/css/nprogress.css' %}"/>

<link rel='stylesheet' href="{% static 'wbdmap/css/widget.css' %}"/>

<link rel="stylesheet" href="{% static 'wbdmap/css/FloatingPane.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'wbdmap/css/ResizeHandle.css' %}" type="text/css"/>

<script src="https://js.arcgis.com/3.28/"></script>

<!-- debug is being used as a surrogate for Development vs. Production -->
{% if DEBUG %}
    <script type="text/javascript" language="Javascript" src="{% static 'wbdmap/js/urls.js' %}"></script>
{% else %}
    <script type="text/javascript" language="Javascript" src="{% static 'wbdmap/js/urls_production.js' %}"></script>
{% endif %}

<script src="{% static 'wbdmap/js/index.js' %}"></script>


</head>

<body class="tundra">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<img class="navbar-brand-icon" src="{% static 'wbdmap/images/enviroatlas_graphic_identifier.png' %}">
			<a class="navbar-brand">Tetra Tech HUC12 Navigator</a>
		</div>
	</nav>

	<div id='thin_blue_line' style="width: 100%; top:52px; height:15px;" ></div>

	<div data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="design:'headline',gutters:false"
		style="width: 100%; height: 100%; margin: 0;">
		<div id="map" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'center'">

            <div id="widgetOuter" data-dojo-type="dojox/layout/FloatingPane"
             data-dojo-props="resizable:false, dockable:false, closable:false, title:'EnviroAtlas HUC12 Navigator'">

                <div id="widgetInner" data-dojo-type="dijit.layout.TabContainer">
                    <div id="user_optionsAZZ" data-dojo-type="dijit.layout.ContentPane" title="Select Subwatershed">
                        <div style="border-style: solid; border-width: thin; border-color: #ccc; padding: 3px;">
                            <div id="navActive" title="Toggle to enable map-click of Subwatersheds">
                                <input id="navigation_active" type="checkbox" checked />Active
                            </div>
                            <div id="navDirection" title="Select direction of Subwatersheds navigation">Navigation direction:
                                <input type='radio' name='navigation_direction' ng-model='mValue' value='Upstream'  checked="checked" />Upstream/
                                <input type='radio' name='navigation_direction' ng-model='mValue' value='Downstream' />Downstream
                            </div>
                        </div>
                        <div id="NavigationMessages"></div>
                        <div id="grids" >

                            <div id="gridHUC12"></div>

                            <p></p>
                            <div id="gridNavResults"></div>
                        </div>
                        <div id="footer"></div>
                    </div>
                    <div id="navigation_controls_advancedAZZ" data-dojo-type="dijit.layout.ContentPane" title="Aggregate Indicators">
                        <div style="display: none;">
                            <div style="display: inline-block;">
                                <input id = "show_all_huc12" type="checkbox" name="terms" checked />Show all navigated HUC12s
                            </div>
                        </div>
{#                        <br style="display: none;">#}
                        <div id="NavigateErrorMessage" style="display: none;"></div>
                        <label style="display: none;">Subwatershed HUC12:
                            <input type="text" id="navigation_huc_code" value="" maxlength="12"
                                   onkeypress="return chkNumeric(event)" style="margin-left: 5px; font-size: 11px; font-weight: lighter;width: 100px;"/>
                            <button type="submit" class="btn btn-primary" id="navigateViaText" style="padding: 2px;" disabled
                                    >Navigate</button><br>
                        </label>

{#                        <br>#}
                        <!-- onChange this selection filters and replaces the values in the drop down list below-->
                        <label for="attribute_selector" style="margin-top: 5px; margin-bottom: 0px; font-weight: lighter;" >Select Indicator Category:</label>
                        <div id="indicatorDiv" >

                            <div id="category_selector" style="display: inline-block; font-size: 11px; overflow: hidden;">
                                <select id="category">
                                    <option value="NONE">--- Select ---</option>
                                    <option value="Carbon Storage">Carbon Storage</option>
                                    <option value="Crop Productivity">Crop Productivity</option>
                                    <option value="Energy Potential">Energy Potential</option>
                                    <option value="Engagement with Outdoors">Engagement with Outdoors</option>
                                    <option value="Geography">Geography</option>
                                    <option value="Impaired Waters">Impaired Waters</option>
                                    <option value="Land Cover: Near-Water">Land Cover: Near-Water</option>
                                    <option value="Land Cover: Type">Land Cover: Type</option>
                                    <option value="Landscape Pattern">Landscape Pattern</option>
                                    <option value="Near-Road Environments">Near-Road Environments</option>
                                    <option value="Pollutant Reduction: Water">Pollutant Reduction: Water</option>
                                    <option value="Pollutants: Nutrients">Pollutants: Nutrients</option>
                                    <option value="Population Distribution">Population Distribution</option>
                                    <option value="Protected Lands">Protected Lands</option>
                                    <option value="Species: At-Risk and Priority">Species: At-Risk and Priority</option>
                                    <option value="Species: Other">Species: Other</option>
                                    <option value="Water Supply, Runoff, and Flow">Water Supply, Runoff, and Flow</option>
                                    <option value="Water Use">Water Use</option>
                                    <option value="Weather and Climate">Weather and Climate</option>
                                    <option value="Wetlands and Lowlands">Wetlands and Lowlands</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary" id="recomputeAggregate" disabled
                                    >Recompute Aggregate</button><br>
                        </div>
                        <!-- this is the value used to make the query -->
                        <label for="attribute_selector" style="margin-top: 5px; margin-bottom: 0px; font-weight: lighter;" >Select Specific Indicator to Aggregate:</label>
                        <div id="attribute_selector" style="display: block; font-size: 11px; overflow: hidden;">
                            <select id="attribute">
                                <option value="NONE" selected="selected">-- Select Category First --</option>
                            </select>
                        </div>
                        <p></p>
                            <div id="gridAttributeResults"></div>
                    </div>
                    <div id="results_download_pane" data-dojo-type="dijit.layout.ContentPane" title="Download" >
                        <div >
                            <div id="download_metrics2016" style="display:none"></div>
                            <div id="download_metrics2017" style="display:none"></div>
                            <div id="download_geography" style="display:none"></div>
                            <div id="download_attributes" style="display:none"></div>
                            <div id="permalink" style="display:none"></div>
                            <div id="api_upstream" style="display:none"></div>
                            <div id="api_downstream" style="display:none"></div>


                        </div>
                    </div>


               </div>
            </div>
        </div>

		<img id="loadingImg" src="{% static 'wbdmap/images/hourglass.gif' %}" style="display: none; position:absolute; right:512px; top:256px; z-index:100;" />
	</div>

</body>
</html>
