<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metadata: Download Metric 2016</title>
</head>
<body>
<h1>Metadata: Download Metric 2016</h1>

<p>This is where I would explain the content of the 'Metric 2016' CSV file.

    Number of columns, column defs, etc.</p>
<p>This data comes from
<a href="https://enviroatlas.epa.gov/arcgis/rest/services/National/National2016_metrics/MapServer">https://enviroatlas.epa.gov/arcgis/rest/services/National/National2016_metrics/MapServer</a></p>
</body>
</html>